{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"> 
      
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>
<body>
    <main class="container">
        <div class="head">
          <nav>
            <div class="navWrapper">
              <a href="{% url 'music_nation:home' %}" id="logo">
                <img src="{% static 'images/logo.png' %}" style="border-radius: 6px 0 6px 0" width="50px" alt="logo" />
                Music App</a>
              <div class="right">
                <div>
                  {% if user.is_authenticated %}
                  <span style="margin-top: -36px;" class="btn btn-sm btn-outline-link text-dark border-0" id="searchBtn">Welcome, {{ user.username }}</span>
                  {% else %}
                  <a href="{% url 'music_nation:login' %}">
                    <button style="margin-top: -36px;" class="btn btn-sm btn-outline-primary" id="searchBtn">Sign in</button>
                    </a>
                {% endif %}
                <div id="nav-icon" id="menuIcon">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
      
                <div class="overlay">
                  <div class="overlayContent">
                    
                    {% if user.is_authenticated %}
                      <a href="{% url 'music_nation:profile_detail' request.user %}" id="logout">Profile</a>
                      <a href="{% url 'music_nation:add_album' %}" id="logout">Add Album</a>
                      <a href="{% url 'music_nation:logout' %}" id="logout">Logout</a>
                    {% else %}
                      <a href="{% url 'music_nation:login' %}" id="login">Login</a>
                      <a href="{% url 'music_nation:signup' %}" id="register">Register</a>
                    {% endif %}
                    <p>Copyright 2023</p>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>

        {% block content %}{% endblock content %}


        <br><br><br><br>
        <p>Change Background Color
          <input type="color" id="colorPicker" />
        </p>
    </main>
      
      <div class="music">
        <div class="container">
          {% comment %} <div id="abl" class="album">
            <div class="circle"></div>
            <img class="cover" />
            <img class="shadow"></img>
          </div> {% endcomment %}
          <div class="musicname"></div>
          <div class="artist"></div>
      
          <div class="controll-panel">
            <div class="center">
              <span class="prev-btn controll-btn">
                <i class="fas fa-step-backward"></i>
              </span>
            </div>
            <div class="center">
              <span class="play-btn controll-btn">
                <i class="far fa-play-circle"></i>
              </span>
              <span class="pause-btn controll-btn hidden">
                <i class="far fa-pause-circle"></i>
              </span>
            </div>
            <div class="center">
              <span class="next-btn controll-btn">
                <i class="fas fa-step-forward"></i>
              </span>
            </div>
          </div>
          <div class="progress-panel">
            <progress id="progress-bar" value="0" max="100"></progress>
            <div class="time">
              <label id="start-time">00:00</label>
              {% comment %} <label>/</label>
              <label id="end-time">00:00</label> {% endcomment %}
            </div>
          </div>
      
        </div>
      </div>
      
      <audio id="music">
      </audio>

        <script>
          let tracks = {{ songs|safe }};
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="{% static 'js/index.js' %}"></script>
        <script>
          const colorPicker = document.getElementById("colorPicker");
          const body = document.querySelector("body");
          colorPicker.addEventListener("change", (e) => {
            body.style.backgroundColor = e.target.value;
            // save the color in local storage
            localStorage.setItem("bgcolor", e.target.value);
          });

          // get the color from local storage
          const bgcolor = localStorage.getItem("bgcolor");
          if (bgcolor) {
            body.style.backgroundColor = bgcolor;
            colorPicker.value = bgcolor;
          }


        </script>
</body>
</html>